.navbar {
    padding: 0.5rem 1rem;
}

@media (max-width: 767px) {
    .navbar-collapse {
        width: 100%;
        /* Collapse menu align right */
        position: absolute;
        right: 0;
        background: #343a40; /* dark background */
    }
}

body {
    padding-top: 56px; /* Padding for fixed-top navbar */
}

.nav-logo-dot {
    /* Styles for .nav-logo-dot */
    background-color: mintcream;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
}